{% extends 'base.html' %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 py-6">
    <div class="bg-white rounded-lg shadow-lg p-6">
        <h1 class="text-2xl font-bold mb-2">{{ ad.title }}</h1>
        <p class="mb-4">{{ ad.description }}</p>
        <!-- Carousel -->
        <div id="adCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in ad.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image.image.url }}" alt="{{ ad.title }}" class="d-block w-100 rounded-lg mb-4" />
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#adCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#adCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% if ad.price %}
            <p class="font-bold">Price: ${{ ad.price }}</p>
        {% endif %}

        <p class="mb-2"><strong>Location:</strong> {{ ad.location }}</p>
        <p class="mb-2"><strong>Postal Code:</strong> {{ ad.postal_code }}</p>
        <p class="mb-2"><strong>Posted On:</strong> {{ ad.posted_at|date:"F j, Y" }}</p>
        
        {% if ad.show_contact %}
        <h3 class="mt-4 font-semibold">Contact Information</h3>
        <p><strong>Email:</strong> {{ ad.contact_email }}</p>
        <p><strong>Phone:</strong> {{ ad.contact_phone }}</p>
        {% else %}
            <p class="text-gray-500">Contact information is not available.</br>Send a message to seller</p>
            {% endif %}

        {% if ad.tags.all %}
            <h3 class="mt-4 font-semibold">Tags</h3>
            <ul class="list-disc pl-5">
                {% for tag in ad.tags.all %}
                    <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                
        <p class="mt-4"><strong>Category:</strong> {{ ad.category.name }}</p>
        <p class="mt-2"><strong>Ad Posted By:</strong> {{ ad.user.user.username }}</p>
        <p class="flex justify-end gap-1"><strong>Views:</strong> {{ ad.view }}</p>
    </div>
</div>
{% endblock %}
