{% extends 'base.html' %}

{% block content %}
<div class="bg-gray-100 h-screen flex flex-col max-w-full mx-auto shadow-lg rounded-lg">
  <div class="bg-blue-600 p-4 text-white flex justify-between items-center rounded-t-lg shadow-md">
    <button id="profile" class="hover:bg-blue-500 focus:outline-none rounded-md p-1">
      <img src="/media/accounts/images/user_profile.png" alt="Profile" class="w-10 h-10 rounded-full border-2 border-gray-300" aria-label="Profile">
    </button>
    <span class="font-semibold text-lg">Chat with {{ chat.seller.user.username }} about "{{ chat.ad.title }}"</span>
    <a href="{% url 'ad-detail' chat.ad.id %}" class="text-white hover:text-blue-300 text-sm font-semibold" aria-label="View Ad">View Ad</a>
  </div>
  
  <div class="flex-1 overflow-y-auto p-4 space-y-4 custom-scrollbar max-h-[500px]" id="messages"> 
    {% for message in messages %}
      <div class="flex items-end gap-2 {% if message.sender.user != user %} justify-start {% else %} justify-end {% endif %}">
        {% if message.sender.user != user %}
          <img class="w-10 h-10 rounded-full object-cover" src="/media/accounts/images/user_profile.png" alt="avatar" aria-label="Sender's avatar" />
          <div class="mr-auto w-[30%] flex flex-col gap-1 rounded-r rounded-tl bg-zinc-100 p-4 text-neutral-600 dark:bg-zinc-800 dark:text-zinc-200">
            <span class="font-semibold text-neutral-900 dark:text-zinc-50">{{ message.sender.user.username }}</span>
            <div class="text-sm break-words">{{ message.message }}</div>
            <span class="ml-auto text-xs">{{ message.created_at|date:"H:i" }}</span>
          </div>
        {% endif %}
        {% if message.sender.user == user %}
          <div class="ml-auto w-[30%] flex flex-col gap-1 rounded-l-xl rounded-tr-xl bg-sky-700 p-4 text-sm text-white dark:bg-sky-600 dark:text-white relative" id="message-{{ message.id }}">
            <span id="message-text-{{ message.id }}" class="message-text break-words">{{ message.message }}</span>
            <span class="ml-auto text-xs">{{ message.created_at|date:"H:i" }}</span>
            {% if message.can_edit %}
              <div class="absolute top-0 right-0 mt-2 mr-2">
                <button onclick="toggleMenu(event, {{ message.id }})" class="text-white hover:text-blue-300 hover:bg-blue-500 focus:outline-none" aria-label="Message Options">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu hidden absolute right-0 bg-white border border-gray-200 rounded-lg shadow-md py-2 w-36 mt-1 z-10 transition-transform transform origin-top-right scale-95">
                  <button onclick="editMessage({{ message.id }})" class="w-full text-left text-blue-600 flex items-center space-x-2 py-2 px-4 hover:bg-blue-100 rounded-md transition-all duration-200" aria-label="Edit Message">
                    <i class="fas fa-edit"></i> <span>Edit</span>
                  </button>
                  <form method="POST" action="{% url 'ad_chat:chat_detail' chat_id=chat.id %}" class="w-full text-left">
                    {% csrf_token %}
                    <button type="submit" name="delete_message" value="{{ message.id }}" class="w-full text-left text-red-600 flex items-center space-x-2 py-2 px-4 hover:bg-red-100 rounded-md transition-all duration-200" aria-label="Delete Message">
                      <i class="fas fa-trash-alt"></i> <span>Delete</span>
                    </button>
                  </form>
                </div>
              </div>
            {% endif %}
            <form method="POST" action="{% url 'ad_chat:chat_detail' chat_id=chat.id %}" id="edit-form-{{ message.id }}" class="hidden mt-2 transition-all duration-300 ease-in-out">
              {% csrf_token %}
              <textarea name="message" class="w-full h-24 border border-blue-300 rounded-md p-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-600" placeholder="Edit your message...">{{ message.message }}</textarea>
              <input type="hidden" name="message_id" value="{{ message.id }}">
              <div class="flex justify-between">
                <button type="submit" class="mt-3 bg-blue-600 border text-white py-1 px-2 rounded-md hover:bg-blue-700 focus:outline-none">Save</button>
                <button type="button" onclick="cancelEdit({{ message.id }})" class="mt-3 bg-red-600 border text-white py-1 px-2 rounded-md hover:bg-red-700 focus:outline-none">Cancel</button>
              </div>
            </form>
          </div>
          <span class="flex items-center justify-center overflow-hidden w-8 h-8 rounded-full border border-zinc-300 bg-zinc-100 text-sm font-bold tracking-wider text-neutral-600 dark:border-zinc-700 dark:bg-zinc-800 dark:text-zinc-200">{{ user.username|slice:":2" }}</span>
        {% endif %}
      </div>
    {% empty %}
      <p class="text-center text-gray-500">No messages yet.</p>
    {% endfor %}
  </div>

  <div class="bg-white p-4 flex items-center w-full border-t border-gray-200 rounded-b-lg">
    <form method="POST" class="flex w-full" id="message-form">
      {% csrf_token %}
      <textarea name="message" rows="2" class="flex-1 border border-gray-300 rounded-lg px-4 py-2 text-gray-700 focus:ring-2 focus:ring-blue-400 focus:outline-none text-sm" placeholder="Type your message..." maxlength="500"></textarea>
      <button type="submit" class="bg-blue-600 text-white rounded-full p-3 ml-2 hover:bg-blue-700 focus:outline-none transform transition-all duration-300 hover:scale-105" aria-label="Send Message">
        <i class="fas fa-paper-plane"></i>
      </button>
    </form>
  </div>
</div>

<script>
  const messages = document.getElementById('messages');
  function toggleMenu(event, messageId) {
    const menu = event.target.closest('.relative').querySelector('.dropdown-menu');
    menu.classList.toggle('hidden');
  }
  function editMessage(messageId) {
    const messageTextElement = document.getElementById(`message-text-${messageId}`);
    const editFormElement = document.getElementById(`edit-form-${messageId}`);
    messageTextElement.classList.add('hidden');
    editFormElement.classList.remove('hidden');
    const menu = document.querySelector(`#message-${messageId} .dropdown-menu`);
    if (menu) {
      menu.classList.add('hidden');
    }
  }
  function cancelEdit(messageId) {
    const messageTextElement = document.getElementById(`message-text-${messageId}`);
    const editFormElement = document.getElementById(`edit-form-${messageId}`);
    messageTextElement.classList.remove('hidden');
    editFormElement.classList.add('hidden');
  }
  window.addEventListener('click', function (e) {
    const menus = document.querySelectorAll('.dropdown-menu');
    menus.forEach(menu => {
      if (!menu.contains(e.target) && !e.target.closest('.relative')) {
        menu.classList.add('hidden');
      }
    });
  });
  function isAtBottom() {
    return messages.scrollHeight - messages.scrollTop === messages.clientHeight;
  }
  function getMessages() {
    const wasAtBottom = isAtBottom();
    if (!wasAtBottom) {
      scrollToBottom();
    }
  }
  function scrollToBottom() {
    messages.scrollTop = messages.scrollHeight;
  }
  scrollToBottom();
</script>

{% endblock %}
