{% load widget_tweaks %}

<div>
    {% if field.name == 'category' %}
        <div x-model="selectedCategory" x-on:change="selectedCategory = $event.target.options[$event.target.selectedIndex].text">
            <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                {{ field.label }}
            </label>
            {% render_field field class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300 focus:outline-none" %}
        </div>

    {% elif field.name == 'description' %}
        <div>
            <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                {{ field.label }}
            </label>
            <textarea id="{{ field.id_for_label }}" name="{{ field.name }}" class="trix-content hidden">{{ field.value|default:"" }}</textarea>
            <trix-editor input="{{ field.id_for_label }}" class="trix-editor border border-gray-300 rounded p-2 w-full list-disc list-inside"></trix-editor>
        </div>
    

    {% elif field.name == 'location' %}
        <div>
            <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                {{ field.label }}
            </label>
            <input type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value|default:'' }}" 
            class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300 focus:outline-none" 
            required="{{ field.field.required }}">
        </div>
    
    {% elif field.name == 'start_date' %}
        <div x-show="isEventsOrClasses" x-transition>
            <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                {{ field.label }}
            </label>
            <input type="date" 
                   name="{{ field.name }}" 
                   id="{{ field.id_for_label }}" 
                   value="{{ field.value|date:'d-m-Y' }}" 
                   class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300 focus:outline-none" 
                   x-bind:value="startDateValue" 
                   x-on:input="startDateValue = $event.target.value">
            <small class="text-gray-500" x-show="isEventsOrClasses" x-text="'Select event dates for your ' + selectedCategory"></small>
        </div>

    {% elif field.name == 'end_date' %}
        <div x-show="isEventsOrClasses" x-transition>
            <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                {{ field.label }}
            </label>
            <input type="date" 
                   name="{{ field.name }}" 
                   id="{{ field.id_for_label }}" 
                   value="{{ field.value|date:'d-m-Y' }}" 
                   class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300 focus:outline-none" 
                   x-bind:value="endDateValue" 
                   x-on:input="endDateValue = $event.target.value">
            <small class="text-gray-500" x-show="isEventsOrClasses" x-text="'Select event dates for your ' + selectedCategory"></small>
        </div>

        
    {% elif field.name == 'price' %}
        <div x-transition>
            <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                <span x-text="isJobsOrGigs ? 'Salary' : '{{ field.label }}'"></span>
            </label>
            {% render_field field class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300 focus:outline-none" %}
            <small class="text-gray-500" x-show="isJobsOrGigs">
                Please enter the price per month. (price / hour)
            </small> 
        </div>
    
    {% else %}
        <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
            {{ field.label }}
        </label>
        {% render_field field class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:ring focus:ring-blue-300 focus:outline-none" %}
    {% endif %}
</div>

