{% load widget_tweaks %}

{% if form.non_field_errors %}
  <div class="mb-5 bg-red-100 text-red-900 p-4 rounded-lg shadow-md border border-red-700 font-semibold">
    {% for error in form.non_field_errors %}
      <p{% if forloop.last %} class="mb-0"{% else %} class="mb-2"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}
  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">
      {{ field.label_tag }}
    </label>

    {% if form.is_bound %}
      {% if field.errors %}
        {% render_field field class="p-1 mt-1 block w-full border border-red-300 rounded-md shadow-sm focus:border-red-500 focus:ring focus:ring-red-200" %}

        {% for error in field.errors %}
          <p class="mt-1 text-sm text-red-600">
            {{ error }}
          </p>
        {% endfor %}
      {% else %}
        {% render_field field class="p-1 mt-1 block w-full border border-green-300 rounded-md shadow-sm focus:border-green-500 focus:ring focus:ring-green-200" %}
      {% endif %}
    {% else %}
      {% render_field field class="p-1 mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" %}
    {% endif %}

    {% if field.help_text %}
      <small class="mt-1 text-sm text-gray-500">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %}
