<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AdBridge - Your Marketplace Awaits{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
</head>
<body class="bg-gray-100">
    
    <div class="flex min-h-screen">
        <aside class="w-64 bg-white shadow-lg">
            <div class="p-6">
                <a href="{% url 'homepage' %}" class="block p-2 text-gray-800 hover:underline hover:underline-offset-2">
                    <h1 class="text-3xl font-bold text-center text-blue-600">AdBridge</h1>
                </a>
                <p class="mt-1 text-center text-gray-600">Your bridge to buying and selling - anything!</p>
                <nav class="mt-8">
                    <ul>
                        <li><a href="{% url 'category-list' %}" class="block p-4 text-gray-800 hover:bg-gray-200 hover:rounded-lg">Categories</a></li>
                        <li><a href="{% url 'ad-list' %}" class="block p-4 text-gray-800 hover:bg-gray-200 hover:rounded-lg">Ads</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        
        <main class="flex-1 p-8 overflow-y-auto">
        {% block content %}
            <header class="my-7">
                <h2 class="text-5xl font-bold text-blue-600">Welcome to AdBridge!</h2>
                <p class="mt-2 text-lg text-gray-700">The ultimate platform for seamless connections between buyers and sellers.</p>
            </header>
            
            <section class="bg-white p-8 rounded-lg shadow-lg mb-6">
                <h3 class="text-3xl font-semibold mb-4">Discover What We Offer</h3>
                <ul class="mt-4 space-y-3 text-gray-600 list-none">
                    <li>🌟 <b>Diverse Categories:</b> Explore an extensive range of categories tailored to your needs.</li>
                    <li>🔍 <b>Advanced Search:</b> Effortlessly find what you're looking for with our user-friendly search options.</li>
                    <li>💬 <b>Messaging System:</b> Connect directly with sellers through our secure messaging platform.</li>
                    <li>💲 <b>Secure Transactions:</b> Enjoy peace of mind with our safe posting and inquiry processes.</li>
                    <li>📱 <b>Intuitive Design:</b> Navigate easily with our sleek and responsive user interface.</li>
                </ul>
            </section>

            <section class="bg-white p-8 rounded-lg shadow-lg mb-6">
                <h3 class="text-3xl font-semibold mb-4">Join the Community!</h3>
                <p class="mt-4 text-gray-600">
                    Sign up today to start posting ads or browsing listings that fit your lifestyle. Whether you’re searching for a job, selling your furniture, or hunting for rental properties, AdBridge is here to facilitate your journey.
                </p>
                <a href="/" class="mt-4 inline-block bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700 transition duration-300">Get Started</a>
            </section>

            <section class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-3xl font-semibold mb-4">Why Choose Us?</h3>
                <p class="mt-4 text-gray-600">
                    AdBridge connects you with a vibrant community of buyers and sellers, ensuring that your needs are met with the utmost satisfaction. Our platform is designed with you in mind, prioritizing security, accessibility, and user experience.
                </p>
                <a href="{% url 'ad-list' %}" class="mt-4 inline-block bg-green-600 text-white px-6 py-3 rounded hover:bg-green-700 transition duration-300">Explore Ads</a>
            </section>
        {% endblock content %}
        <div class="flex justify-center mt-28">
            {% include 'pagination.html' %}
        </div>
        </main>
    </div>
</body>
</html>
