{% extends 'base.html' %}

{% block title %}Change password successful{% endblock %}

{% block content %}
  <div class="flex justify-center min-h-screen bg-gray-50 py-6 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-6">
      <div class="mt-6 bg-green-100 text-green-900 p-6 rounded-lg shadow-md border border-green-700 font-semibold sm:rounded-lg">
        <h2 class="text-2xl font-semibold text-center">Success!</h2>
        <p class="text-center text-sm mt-2">Your password has been changed successfully.</p>
      </div>

      <div class="flex justify-center">
        <a href="{% url 'homepage' %}" class="w-full py-3 px-4 bg-gray-800 text-white font-semibold rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 text-center">
          Return to home page
        </a>
      </div>
    </div>
  </div>
{% endblock %}
