{% extends 'base.html' %}

{% block title %}Change password successful{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}" class="text-blue-500 hover:text-blue-700">Change password</a></li>
  <li class="breadcrumb-item active text-gray-600">Success</li>
{% endblock %}

{% block content %}
  <div class="max-w-2xl mx-auto mt-8 p-6 bg-green-50 border-l-4 border-green-500 text-green-700">
    <strong class="font-semibold">Success!</strong> Your password has been changed.
  </div>
  <a href="{% url 'homepage' %}" class="mt-6 inline-block bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-6 rounded-lg">
    Return to home page
  </a>
{% endblock %}
